@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poiret+One&display=swap');
:root{
  --bg:#262D37;
  --main:#303741;
  --secondary:#7D8288;
  --primary:#2BA7F3;
  --posts:#3B424C;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--bg);
  overflow-x: hidden;
  user-select: none; 
}
.navbar{
  width: 100vw;
  height: 9vh;
  background-color:var(--main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  align-items: center;
  font-size: 1.3em;
  color: white;
  position: fixed;
}
.navbar .left{
  margin-left: 1vw;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navbar .right{
  margin-right: 1vw;
  flex-grow: 1;
}
.kat{
  height: 40px;
}
.navbar .image{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  cursor: pointer;
}
.logo{
  width: auto;
  display: flex;
  align-items: center;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  color: var(--primary);
}
.navbar .text{
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.navbar.middle{
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search{
  background-color: #272E38;
  height: 6vh;
  width: 40vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.s{
  height: 3.2vh;
  margin-left: 1vw;
}
.search .text{
  font-size: 19px;
  color: var(--secondary);
}
.navbar .right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .right svg{
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.about .main{
  height: 100vh;
  width: 100vw;
  background: url('images/main.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .main .stuff{
  color: white;
}
.about .main .stuff h1{
  font-size: 3em;
  margin: 0;
  font-weight: 400;
}
.k{
  font-family: 'Poiret One', cursive;
  color: var(--primary);
  
}
.about .buttons{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.b1,.b2{
  height: auto;
  max-height: 32px;
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  color: var(--primary);
  border: solid var(--primary) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
  cursor: pointer;
}
.b2{
  border: solid black 1px;
  color: black;
  transform: translateX(-20px);

}
.b2 .git{
  height: 32px;
  position: absolute;
  align-self: flex-start;
  transform: translate(-40px,-6px);
}
.b2 span{
  transform: translateX(12px);
}
.about .a{
  width: 100vw;
  height: 75vh;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  
}
.a .ab{
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 2vw;
  color: white;
}
.a .ab .t{
  font-size: 2em;
  color: var(--primary);
}
.a .b2{
  transform: translateX(-50px);
}
.a .b1{
  transform: none;
}
.a img{
  height: 75vh;
  align-self: flex-end;
}
.unnecessary{
  font-family: sans-serif;
  font-size: 9em;
  position: absolute;
  align-self: flex-end;
  font-weight: 900;
  opacity: 0.1;
  transform: translateX(-7%);
}
.logout{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  padding: 30px;
  width: 25vw;
  border-radius: 5%;
  background-color: var(--main);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.login .form{
  display: flex;
  flex-direction: column;
}
.signup .form{
  display: flex;
  flex-direction: column;
}
.box .logo {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  transform: scale(1.3);
}
.box .h{
  font-weight: 200;
  color: white;
  font-size: 1.8em;
}
.box input{
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  padding-left: 5px;
}
.box input:focus, textarea:focus, select:focus{
  outline: none;
}
.box .ic{
  height: 30px;
  z-index: 5;
}
.box .field{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 30px;
  max-width: fit-content;
  border: solid var(--primary) 1px;
  border-radius: 50px;
  margin-top: 30px;
  z-index: 10;
  
}
button{
  background: none;
  border: none;
  height: 30px;
  width: fit-content;
  line-height: 30px;
  cursor: pointer;
  color:var(--primary);
  font-weight: 200;
  font-size: 1.4em;
  border-radius: 30px;
}
button{
  display: flex;
  height: 30px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  align-self: center;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: solid var(--primary) 1px;
}
.signup{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create .cont{
  padding: 2vw;
  width: 50vw;
  border-radius: 5%;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.cont .h{

  font-weight: 400;
  color:var(--primary);
  font-size: 1.8em;
}
.createField{
  display: flex;
  flex-direction: row;
}
.createField .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 2;
}
.createField .right{
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}
.create .field{
  font-size: 1.4em;
  margin-top: 1vh;
}
.create .text{
  color: white;
}
.create .buttons{
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  
}
.buttons button{
  margin-right: 5vw;
  font-weight: 200;
}
.create input{
  background: none;
  border: none;
  color: white;
  
}
.create input:focus, textarea:focus, select:focus{
  outline: none;
}
.create .contentField{
  background: none;
  border: 1px solid white;
  height: 30vh;
  width: 30vw;
  color: white;
  border-radius: 5px;
  padding:10px;
  font-size: 18px;
}
.create .titleField{
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  padding:10px;
}
.selector{
  border: 1px solid white;
  font-size: 1.4em;
  
  border-radius: 10%;
  color: white;
  margin-top: 5vh;
}
.upload{
  border: 1px solid var(--primary);
  color:var(--primary);
  font-size: 1em;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  border-radius: 40px;
  margin-top: 5vh;
}
.op1,.op2{
  cursor: pointer;
  padding: 5px;
}
.op2{
  
  border-top: 1px solid white;
}
.imageField{
  height: 30vh;
  width: 30vw;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  padding:10px;
  display: flex;
}
.main{
  height: auto;
  width: 100vw;
  display: flex;  
  justify-content: space-around;
}
.main .left{
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  flex-basis: 0;

}
.main .right{
  flex-grow: 2;
  display: flex;
  
  flex-basis: 0;

}
.main .middle{
  flex-grow: 3;
  display: flex;
  flex-basis: 0;
  justify-content: center;
}
.main .container{
  width: 40vw;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin-top: 30vh;
  background-color: var(--main);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  overflow-y:hidden;
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}
.main .users{
  width: 15vw;
  height: 40vh;
  margin-top: 30vh;
  background-color: var(--main);
  border-radius: 15px;
  position: fixed;
  margin-left: 2vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  overflow: hidden;
}
.header{
  width: 100%;
  background-color: var(--primary);
  border-radius: 15px 15px 0 0;
  background-color: var(--main);
  
}
.container .header{
  height: 7vh;
  display: flex;
  align-items: center;
  box-shadow: 0px -2px 10px -2px;
  font-size: 1.2em;
}
.container .options{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}
.container .o{
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 7vh;
  cursor: pointer;
}
.container .p{
  margin-left: 15px;
  
  color: white;
}
.users .header{
  height: 5vh;
  display: flex;
  align-items: center;
  box-shadow: 0px -2px 10px -2px;
}
.users .h{
  color: white;
  font-size: 1.2em;
  padding-left: 10px;
}
.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post{
  width: 80%;
  min-height: 15vh;
  background-color: var(--posts);
  margin-top: 5vh;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.post .top{
  display: flex;
}
.post .userimage{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  flex-shrink: 0;
  
}
.post .info{
  padding-left: 10px;
  color: white;
}
.post .username{
  font-size: 0.8em;
}
.post .title{
  font-size: 1.2em;
  line-height: none;
  margin-bottom: 1vh;
}
.textpost .content{
  font-size: 0.9em;
  
}
.imagepost .image{
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 60vh;
}
.imagepost img{
  width: 100%;
  object-fit: scale-down;
}
.post .bottom{
  width: 100%;
  height: 4vh;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 23px 40px 1px;
  display: flex;
  align-items: center;
  
}
.annoyingshit{
  overflow-y: hidden;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.comments{
  overflow: hidden;
  max-height: 0;
  overflow-y: auto;  
  
}
.open{
  animation: open 2s forwards;
}
.close{
  animation: close 2s forwards;
}
@keyframes open {
  from {max-height: 0;}
  to {max-height: 30vh;}
}
@keyframes close {
  from {max-height: 30vh;}
  to {max-height: 0;}
}
::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: var(--main);
  padding: 1px;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #f5f5f500;
  
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #7D8288;
}
.bottom .icons{
  height: 4vh;
  transform: scale(0.8);
  margin-left: 1vw;
  cursor: pointer;
}
.bottom .l{
  color: white;
  font-size: 0.8em;
  color: var(--secondary);
  padding-left: 5px;
}
.comment{
  transform: scale(0.9);
}
.comment input{
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 0.9em;
  color: white;
  outline: none;
  border-bottom: 1px solid var(--primary);
}
.comment button{
  margin-left: 10px;
  font-size: 0.9em;
  transform: translateY(-50%);
}
.users .top{
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.users .userimage{
  height: 30px;
  width: 30px;
  border-radius: 30px;
  flex-shrink: 0;
  
}
.users .info{
  padding-left: 10px;
  color: white;
}
.users .username{
  font-size: 0.7em;
}
.users .title{
  font-size: 0.9em;
  line-height: none;

}
.users .display{
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.main .profile{
  width: 20vw;
  height: 40vh;
  margin-top: 30vh;
  background-color: var(--main);
  border-radius: 15px;
  position: fixed;
  margin-right: 2vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  overflow: hidden;
  
  
}
.profile .edit{
  height: 25px;
  position: absolute;
  transform: translateX(60px);
  cursor: pointer;
}
.profile .userimage{
  margin-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.profile .username{
  color: white;
  font-size: 1.5em;
}
.profile .email{
  color: white;
  font-size: 0.8em;
  color: var(--secondary);
}
