@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Poiret+One&display=swap');


:root{
  --bg:#262D37;
  --main:#303741;
  --secondary:#7D8288;
  --primary:#2BA7F3;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--bg);
  overflow-x: hidden;
  user-select: none; 
}

.navbar{
  width: 100vw;
  height: 8vh;
  background-color:var(--main);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  align-items: center;
  font-size: 25px;
  color: white;
  position: fixed;
}
.navbar .left{
  margin-left: 1vw;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navbar .right{
  margin-right: 1vw;
  flex-grow: 1;
}
.kat{
  height: 40px;
}
.logo{
  width: auto;
  display: flex;
  align-items: center;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  color: var(--primary);
}

.navbar .text{
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.middle{
  flex-grow: 2;
  display: flex;
  align-items: center;

}

.search{
  background-color: #272E38;
  height: 6vh;
  width: 40vw;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.s{
  height: 3.2vh;
  margin-left: 1vw;
}
.search .text{
  font-size: 19px;
  color: var(--secondary);
}
.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right svg{
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.about .main{
  height: 100vh;
  width: 100vw;
  background: url('images/main.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .main .stuff{
  color: white;
}
.about .main .stuff h1{
  font-size: 3em;
  margin: 0;
  font-weight: 400;
}
.k{
  font-family: 'Poiret One', cursive;
  color: var(--primary);
  
}
.about .buttons{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.b1,.b2{
  height: auto;
  max-height: 32px;
  width: 100px;
  padding: 5px;
  border-radius: 30px;
  color: var(--primary);
  border: solid var(--primary) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(20px);
  cursor: pointer;
}
.b2{
  border: solid black 1px;
  color: black;
  transform: translateX(-20px);

}
.b2 .git{
  height: 32px;
  position: absolute;
  align-self: flex-start;
  transform: translate(-40px,-6px);
}
.b2 span{
  transform: translateX(12px);
}
.about .a{
  width: 100vw;
  height: 75vh;
  background-color: var(--main);
  display: flex;
  flex-direction: row;
  
}
.a .ab{
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 2vw;
  color: white;
}
.a .ab .t{
  font-size: 2em;
  color: var(--primary);
}
.a .b2{
  transform: translateX(-50px);
}
.a .b1{
  transform: none;
}

.a img{
  height: 75vh;
  align-self: flex-end;
}

.unnecessary{
  font-family: sans-serif;
  font-size: 9em;
  position: absolute;
  align-self: flex-end;
  font-weight: 900;
  opacity: 0.1;
  transform: translateX(-7%);
}


.logout{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}

.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box{
  padding: 30px;
  width: 25vw;
  border-radius: 5%;
  background-color: var(--main);
}
.login .form{
  display: flex;
  flex-direction: column;
}
.signup .form{
  display: flex;
  flex-direction: column;
}

.box .logo {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  transform: scale(1.3);
}
.box .h{
  font-weight: 200;
  color: white;
  font-size: 1.8em;
}
.box input{
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  padding-left: 5px;
}
.box input:focus, textarea:focus, select:focus{
  outline: none;
}
.box .ic{
  height: 30px;
  z-index: 5;
}
.box .field{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 30px;
  max-width: fit-content;
  border: solid var(--primary) 1px;
  border-radius: 50px;
  margin-top: 30px;
  z-index: 10;
  
}
button{
  background: none;
  border: none;
  height: 30px;
  width: fit-content;
  line-height: 30px;
  cursor: pointer;
  color:var(--primary);
  font-weight: 200;
  font-size: 1.4em;
  border-radius: 30px;
}
button{
  display: flex;
  height: 30px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  align-self: center;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: solid var(--primary) 1px;
}
.signup{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create .cont{
  padding: 2vw;
  width: 50vw;
  border-radius: 5%;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  
}
.cont .h{

  font-weight: 400;
  color:var(--primary);
  font-size: 2.1em;
}
.createField{
  display: flex;
  flex-direction: row;
}
.createField .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 3;
}
.createField .right{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.create .field{
  font-size: 1.6em;
  margin-top: 1vh;
}
.create .text{
  color: white;
}
.create .buttons{
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  
}
.buttons button{
  margin-right: 5vw;
}
.create input{
  background: none;
  border: none;
  color: white;
  
}
.create input:focus, textarea:focus, select:focus{
  outline: none;
}
.create .contentField{
  background: none;
  border: 1px solid white;

  color: white;
  border-radius: 5px;
  padding:10px;
  font-size: 0.8em;
}
.create .titleField{
  font-size: 0.8em;
  border: 1px solid white;
  border-radius: 5px;
  padding:10px;
}